:root {
  /* solarized light colors*/
  /* base3 = bg color */
  --bg: #fdf6e3;
  /*base2 bg highlights */
  --bg-highlights: #eee8d5;
  /* base1 = comments, line numbers */
  --base1: #93a1a1;
  /* base00 default text color/fg */
  --fg: #657b83;
  /* base01 = higlighted/emphasized text */
  --fg-highlights: #586e75;
  /* links color */
  --link: #268bd2;
  /* accent */
  --accent: #d33682;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Mono', monospace;
  color: var(--fg);
}

body {
  margin: 0;
  display: grid;
  background: var(--bg);
  grid-template-areas: 'header header header'
    'lessons vim hints'
    'footer footer footer'
    'mocha mocha mocha';
  grid-template-columns: minmax(10%, 200px) minmax(70%, auto) minmax(20%, 500px);
  grid-template-rows: auto 1fr auto min-content;
}

aside#resources-links {
  grid-area: lessons;
}

main#resources ul {
  list-style: none;
}

main#resources ul li {
  padding-top: .1em;
}

main#resources {
  grid-area: vim;
  border-left: 2px dashed var(--base1);
  padding: .1em .5em .1em .5em;
  overflow-y: scroll;
}

div#vim-content {
  border-left: 2px dashed var(--base1);
  border-right: 2px dashed var(--base1);
  grid-area: vim;
  display: grid;
  grid-template-areas: 'line-nos vim'
    'command-bar command-bar';
  grid-template-rows: minmax(400px, 1fr) min-content;
  grid-template-columns: min-content auto;
  padding: 0;
}

#lessons {
  grid-area: lessons;
  padding: .1em;
}

footer {
  grid-area: footer;
  text-align: center;
  background: var(--bg);
  border-top: 2px solid var(--base1);
  display: flex;
  flex-grow: 0;
  justify-content: center;
}

header {
  padding: 0 .5em 0 .5em;
  grid-area: header;
  background: var(--bg-highlights);
  border-bottom: 2px solid var(--base1);
}

#hints {
  grid-area: hints;
  overflow-y: scroll;
  padding: 0 .5em 0 .5em;
}

#vim-text, #line-nos {
  padding: .2em 0 .2em 0;
}

#vim-text {
  grid-area: vim;
  padding-left: .2em;
}

#line-nos {
  grid-area: line-nos;
  padding-right: .2em;
  padding-left: .5em;
  background-color: var(--bg-highlights);
}

#command-bar {
  grid-area: command-bar;
  display: grid;
  grid-template-areas: 'mode posdisplay';
  background-color: var(--bg-highlights);
  padding-top: .1em;
}

#pos-div {
  grid-area: posdisplay;
  margin: auto;
}

#mode {
  grid-area: mode;
  margin: 0;
  padding: 0 0 0 .5em;
}

.mode-normal-cursor {
  background: var(--fg);
  color: var(--bg);
}

.line-no {
  color: var(--base1);
}

nav ul {
  padding: 0;
}

nav ul, nav li {
  display: inline;
  list-style: none;
  padding: 0 .4em 0 .4em;
}

#main-heading {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--accent);
}

#dicator {
  font-style: italic;
}

#mocha {
  grid-area: mocha;
}

#lessons ul li {
  list-style: none;
  padding: 0;
}

#lessons ul {
  margin: 0;
}

div#footer-list {
  overflow: hidden;
}

ul#footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -5px;
  list-style: none;
  padding: 0;
}

ul#footer-content li {
    flex-grow: 0;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
}

span.emph {
  font-style: italic;
  font-weight: bold;
}

a#home {
  color: var(--fg-highlights);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-highlights);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--base1);
}
