:root {
  /* solarized light colors*/
  /* base3 = bg color */
  --bg: #fdf6e3;
  /*base2 bg highlights */
  --bg-highlights: #eee8d5;
  /* base1 = comments */
  --base1: #93a1a1;
  /* base00 default text color/fg */
  --fg: #657b83;
  /* base01 = higlighted/emphasized text */
  --fg-highlights: #586e75;
}



html, body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Mono', monospace;
  color: var(--fg);
}

body {
  margin: 0;
  display: grid;
  background: var(--bg);
  grid-template-areas: 'header header header'
                        'lessons vim hints'
                        'footer footer footer';
  grid-template-columns: 300px auto 300px;
  grid-template-rows: auto 1fr auto;

}

div#vim-content {
  border-left: 2px dashed var(--base1);
  border-right: 2px dashed var(--base1);
  grid-area: vim;
  display: grid;
  grid-template-areas: 'vim'
                        'command-bar';
  grid-template-rows: 1fr min-content;
  cursor: none;
  padding: 0 .5em 0 .5em;
}

div#lessons {
  grid-area: lessons;
}

footer {
  grid-area: footer;
  text-align: center;
  background: var(--bg-highlights);
  border-top: 2px solid var(--base1);
}

header {
  padding: 0 .5em 0 .5em;
  grid-area: header;
  background: var(--bg-highlights);
  border-bottom: 2px solid var(--base1);
}

div#hints {
  grid-area: hints;
}

div#vim-text {
  grid-area: vim;
}

div#command-bar {
  grid-area: command-bar;
}

.mode-normal-cursor {
  background: var(--fg);
  color: var(--bg);
}

nav ul {
  padding: 0;
}

nav ul, nav li {
  display: inline;
  list-style: none;
  padding: 0 .4em 0 .4em;
}

#main-heading {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--base1);
}
