
html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Mono', monospace;
  color: var(--fg);
  margin: 0;
  display: grid;
  background: var(--bg);
  grid-template-areas: 'header header header'
    'lessons vim hints'
    'footer footer footer';
  grid-template-columns: minmax(10%, 200px) minmax(70%, 1fr) minmax(20%, 500px);
  grid-template-rows: auto 1fr min-content;
}

aside#resources-links {
  grid-area: lessons;
}

main#resources ul {
  list-style: none;
}

main#resources ul li {
  padding-top: .1em;
}

summary {
  cursor: pointer;
  outline-style: none;
}

main#resources {
  grid-area: vim;
  border-left: 2px dashed var(--base1);
  padding: .1em .5em .1em .5em;
  overflow-y: scroll;
}

div#vim-box {
  grid-area: vim;
  position: relative;
  height: auto;
}

div#vim-content {
  height: 100%;
  display: grid;
  grid-template-areas: 'line-nos vim'
    'command-bar command-bar';
  grid-template-rows: 1fr min-content;
  grid-template-columns: min-content 1fr;
  padding: 0;
  position: relative;
}

#lessons {
  grid-area: lessons;
  border-right: 2px dashed var(--base1);
  padding: .1em;
}

footer {
  grid-area: footer;
  text-align: center;
  background: var(--bg);
  border-top: 2px solid var(--base1);
  padding: 0 .5em 0 .5em;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 0 .5em 0 .5em;
  grid-area: header;
  background: var(--bg-highlights);
  border-bottom: 2px solid var(--base1);
}

#hints {
  grid-area: hints;
  border-left: 2px dashed var(--base1);
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow-y: hidden;
  overflow-x: hidden;
}

#hints-content {
  padding: 0 .5em 0 .5em;
  overflow-y: scroll;
}

#save-reset {
  position: sticky;
  background-color: var(--bg-highlights);
  padding: .1em .5em 0 .5em;
  bottom:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#vim-text, #line-nos {
  padding: .2em 0 .2em 0;
}

#vim-text {
  grid-area: vim;
  padding-left: .2em;
  height:100%;
}

#line-nos {
  grid-area: line-nos;
  padding-right: .2em;
  padding-left: .5em;
  background-color: var(--bg-highlights);
}

#command-bar {
  grid-area: command-bar;
  width: 100%;
  display: grid;
  grid-template-areas: 'mode posdisplay';
  background-color: var(--bg-highlights);
  padding-top: .1em;
}

#pos-div {
  grid-area: posdisplay;
  margin: auto;
}

#mode {
  grid-area: mode;
  margin: 0;
  padding: 0 0 0 .5em;
}

.mode-normal-cursor {
  background: var(--fg);
  color: var(--bg);
}

.line-no {
  color: var(--base1);
}

nav ul {
  padding: 0;
}

nav ul, nav li {
  display: inline;
  list-style: none;
  padding: 0 .4em 0 .4em;
}

#main-heading {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--accent);
}

#dicator {
  font-style: italic;
}

#mocha {
  grid-area: mocha;
}

#lessons ul li {
  list-style: none;
  padding: 0;
}

#lessons ul {
  margin: 0;
}

div#footer-list {
  overflow: hidden;
}

ul#footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -5px;
  list-style: none;
  padding: 0;
}

ul#footer-content li {
    flex-grow: 0;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
}

span.emph {
  font-style: italic;
  font-weight: bold;
}

.pop-up-div {
  background-color: var(--bg-highlights);
  filter: opacity(90%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
  border-radius: 5px;
}

.pop-up-contents {
  text-align: center;
}


.blur {
  filter: blur(2px);
}

a#home {
  color: var(--fg-highlights);
}

a#home:hover {
  text-decoration: underline;
}

.subtle-textbox {
  font-family: 'Fira Mono';
  background-color: var(--bg);
  outline: none;
  border: none;
  margin: .4em;
  padding: 5px 5px;
}

.subtle-btn {
  font-family: 'Fira Mono';
  color: var(--fg);
  background-color: var(--bg);
  border: 1px solid var(--base1);
  margin: .2em;
}

.subtle-drop {
  font-family: 'Fira Mono';
  background-color: var(--bg);
  outline: none;
  border: none;
  margin: .2em;
  padding: 5px 5px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-highlights);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--base1);
}
